<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Car service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
<nav>
    <div>
        <br><br>
        <H1 th:align="center" th:text="#{index.name}"></H1>
        <br>
    </div>
</nav>
<table class="table-responsive-xl table-striped table-bordered" th:cellpadding="15" th:align="center">
    <thead>
    <tr>

        <th scope="col">
            <a th:href="@{/allCarsToRepair}" th:text="#{index.nav.all}"/></th>
        <th scope="col">
            <a th:href="@{/new-car-form}" th:text="#{index.nav.add}"/></th>
        <th scope="col">
            <a th:href="@{/findPlate}" th:text="#{index.nav.torep}"/></th>
        <th scope="col">
            <a th:href="@{/allCarsRepaired}" th:text="#{index.nav.reped}"/></th>
    </tr>
    </thead>
</table>
</body>
</html>