<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<br><br>
<table class="table-responsive-xl table-striped table-bordered " th:cellpadding="15" th:align="center">

    <thead>
    <tr>
        <th scope="col" th:text="#{index.nav.add}"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <div>
    <form th:object="${singleTask}" th:action="@{/new-car}" method="post">
        <tr>
            <td th:text="#{all-cars.plate}"></td>
            <td>
                <label th:for="plateNumber" ></label>
                <input type="text" id="plateNumber" th:field="*{plateNumber}">
            </td>
        </tr>
        <tr>
            <td th:text="#{all-cars.name}"></td>
            <td>
                <label th:for="name" ></label>
                <input type="text" id="name" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td th:text="#{all-cars.color}"></td>
            <td>
                <label th:for="color" ></label>
                <input type="text" id="color" th:field="*{color}">
            </td>
        </tr>
        <tr>
            <td th:text="#{all-cars.year}"></td>
            <td>
                <label th:for="yearOfProduce" ></label>
                <input type="number" id="yearOfProduce" th:field="*{yearOfProduce}">
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit" th:text="ZAPISZ"></button>
            </td>
        </tr>
    </form>
    </div>
</table>
</body>
</html>